{% extends 'base.html.twig' %}

{% block title %}Ajouter un contact{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/mon_fichier.css') }}">
{% endblock %}

{% block body %}
<h1 class="test">Formulaire d'ajout de contact :</h1>
{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_widget(form) }}
<button type="submit">Enregistrer le contact</button>
{{ form_end(form) }}
<button><a href='/'>Retour accueil</a></button>
{% endblock %}