{% extends 'base.html.twig' %}

{% block title %}Supprimer un contact{% endblock %}

{% block body %}
<h1>Page de suppression</h1>

{% for contact in contacts %}
Contact numéro :
{{ contact.id }}<br />
Nom : {{ contact.name }}<br />
Téléphone : {{ contact.phone }}<br />
Email : {{ contact.email }}<br />
Anniversaire : {{ contact.birthday|date("d/m/Y", "Europe/Paris") }}<br />
Note : {{ contact.note }}<br />
Catégorie : {{ contact.category }}<br /><br />
{% endfor %}

<button><a href='/'>Retour accueil</a></button>

{% endblock %}