{% extends 'base.html.twig' %}

{% block title %}Mes contacts :{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style_affichage.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Playwrite+VN+Guides&display=swap" rel="stylesheet">
{% endblock %}

{% block body %}
<h1 class="title">Ma liste de contacts :</h1>

<div class="liste-contacts">
    {% for contact in contacts %}
        <div class="contact">
            <h2>Contact n°{{ contact.id }}</h2>
            <p><strong>Nom :</strong> {{ contact.name }}</p>
            <p><strong>Téléphone :</strong> {{ contact.phone }}</p>
            <p><strong>Email :</strong> {{ contact.email }}</p>
            <p><strong>Anniversaire :</strong> {{ contact.birthday|date("d/m/Y", "Europe/Paris") }}</p>
            <p><strong>Note :</strong> {{ contact.note }}</p>
            <p><strong>Catégorie :</strong> {{ contact.category }}</p>
        </div>
    {% else %}
        <p>Aucun contact à afficher.</p>
    {% endfor %}
</div>

<a href='/' class="button">Retour accueil</a>
{% endblock %}